extends layout

block content
  h1#error-message= error.message
  h2#error-status= error.status
  #cat
    //- svg image taken from http://codepen.io/miukimiu/pen/Igouf
    img(src="images/cat.svg" alt="cat-svg")
