extends layout

block content
  h1#error-message= message
  h2#error-status= error.status
  p#error-text Oops, this page doesn't exist yet...but perhaps it will soon.
  #cat
    //- svg image taken from http://codepen.io/miukimiu/pen/Igouf
    img(src="images/cat.svg" alt="cat-svg")
